.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #222222;
  vertical-align: middle;
}

.nav-brand{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 600;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
  overflow: hidden;
  background-color: #222222;
}

.nav-item {
  float: left;
}

.nav-item a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

/* Change the link color to #111 (black) on hover */
.nav-item a:hover {
  text-decoration: underline;
}
