@mixin flex-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-post-container {
    @include flex-center-column;
    margin: 1rem 1rem;
    width: 600px;
}

.inner-post-container {
    @include flex-center-column;
    margin-bottom: 1rem;
    border: var(--border);
    border-radius: 10px;
    background-color: var(--bg);
    width: 100%;
}

.title-container {
    width: 90%;
    margin: 1rem;

    h3 {
        color: var(--text-color);
    }
}

.image-container {
    @include flex-center-column;
    width: 90%;
    margin-bottom: 1rem;

    img {
        width: 100%;
    }
}

.desc-container {
    width: 90%;
    margin-bottom: 1rem;

    p {
        color: var(--text-color);
    }
}

.label {
    color: var(--text-color);
}

.likes-container {
    width: 90%;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start;
}
