.search-bar {
    padding: 0rem 1rem;
    margin: 0.5rem 2rem;
    background-color: var(--bg);
    color: var(--text-color);
    border: var(--border);
    border-radius: 20px;
    height: calc(var(--nav-size) - 1rem);
    width: 100%;
}

.search-bar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
