.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  background-color: var(--bg-accent);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    filter: brightness(1.2);
  }

  svg {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
  }
}

.dropdown {
  position: absolute;
  top: calc(var(--nav-size) - 2px);
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  transition: background var(--speed);
  padding: 0.5rem;

  &:hover {
      background-color: #525357;
  }

  span {
    margin: 0rem 0.3rem;
  }
}

.icon-right {
  margin-left: auto;
}
