@mixin flex-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dropzone-container {
    border: var(--border);
    border-radius: var(--border-radius);
    cursor: pointer;
    width:100%;

    &:hover {
        filter: brightness(1.2);
    }
}

.inner-dropzone-container {
    @include flex-center-column;
    margin: 0.5rem;
    border: 1px dashed var(--bg-accent);
    padding: 1rem;
}
